unreal/**/*.uasset filter=lfs diff=lfs merge=lfs -text
unreal/**/*.umap filter=lfs diff=lfs merge=lfs -text
unreal/**/*.fbx filter=lfs diff=lfs merge=lfs -text
unreal/**/*.glb filter=lfs diff=lfs merge=lfs -text
unreal/**/*.exr filter=lfs diff=lfs merge=lfs -text
unreal/**/*.hdr filter=lfs diff=lfs merge=lfs -text
unreal/**/*.tif filter=lfs diff=lfs merge=lfs -text
unreal/**/*.tiff filter=lfs diff=lfs merge=lfs -text
unreal/**/*.psd filter=lfs diff=lfs merge=lfs -text
unreal/**/*.png filter=lfs diff=lfs merge=lfs -text
unreal/**/*.jpg filter=lfs diff=lfs merge=lfs -text
unreal/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
